.CardContent p{
    margin: 0;
    padding: 0;
 }
 
 .CardContent p.dates{
   font-size: smaller;
   font-style: italic;
 }
 
 .CardContent.open{
    color: rgb(221, 195, 148);
 }
 
 .CardContent.closed{
    color: lightgreen;
    
 }
 .CardContent.closed .body, .CardContent.closed h3{
    text-decoration: line-through;
 }